/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.addressBooks {
    margin: auto;
    margin-top: 30px;
}

div.addressBooks div.addressBooksList {
    float: left;
    padding-left: 40px;
    width: 700px;
}

div.members div.info {
    float: left;
    margin-left: 10px;
}

div.members div.actions {
    float: right;
    margin-right: 10px;
}

div.sentInvitation {
    margin-top: 10px;
    margin-left: 10px;
}

div.invitationActions {
    margin-top: 20px;
}

div.addressBookInvitation {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.addressBookInvitation div.text {
    float: left;
}

div.addressBookInvitation div.button {
    margin-top: -1px;
    float: left;
    margin-left: 10px;
}

form.newAddressBook div.button {
    margin-top: 5px;
}

div.addressBooksInvitationWrapper {
    margin-bottom: 25px;
    margin-top: 25px;
}

div.addresBooksInvitationWrapper h1 {
    font-family: "OpenSansSemibold";
    font-size: 12pt;
}

div.filaInvitation {
    height: 100px;
    background-color: #E0EEF9;
    border-top: dashed 1px #00ADDE;
    border-bottom: dashed 1px #00ADDE;
    padding-top: 10px;
    padding-left: 10px;
}