/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
    font-style: normal;
    font-weight: lighter;
    font-family: "OpenSansLight", Arial, Verdana, Geneva, sans-serif;
    color: #444;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: #fff;
    text-align: center;
    min-height:100%;
}

h1 {
    font-family: "QuicksandBook";
    font-size: 24pt;
    text-align: left;
    border-bottom: dashed 1px #00ADDE;
    margin-bottom: 20px;
}

h2 {
    font-family: "OpenSansSemibold";
    font-size: 14pt;
    text-align: left;
    margin-top: 15px;
}

p {
    margin-bottom: 10px;
}

div {
    text-align: left;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

.center {
    text-align: center;
}

div.clear {
    clear: both;
    width: 100%;
}

div.anchoPagina {
    width: 960px;
}

div.mainContent {
    clear: both;
    margin: 40px auto;
}


ul {
    list-style: none;
}

ul li {
    display: inline;
}

ul li a:link,
ul li a:visited,
ul li a:hover {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 10pt;
}

ul li a:hover {
    color: #000;
    text-decoration: underline;
}

ul li a.activo {
    color: #00AEDE !important;
}

ul li a.itemFinal:link,
ul li a.itemFinal:visited,
ul li a.itemFinal:hover {
    border-right: 0 !important;
}

img {
    border-style:none ;
}

.draggable {
    cursor: move;
}


/**
*
* Main content section in page layout.
*
*/
div.content {
    width: 100%;
    text-align: center;
}

div.content div.contenedor {
    margin: auto;
}


/* style used to contain floating divs in a div, and mantain height.
 * Read more: http://pageaffairs.com/web/css/containing-floats/
*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {display: inline-block;}

/**
*
*   BoxList styles
*
**/

div.boxList h1 {
    font-family: "OpenSansSemibold";
    font-size: 12pt;
    border: none;
}

div.boxList h2 {
    font-size:11pt;
}

div.boxList a {
    color: #00ADDE;
    text-decoration: underline ! important;
}

div.boxList div.item {
    background-color: #E0EEF9;
    border-top: dashed 1px #00ADDE;
    border-bottom: dashed 1px #00ADDE;
    margin-bottom: 15px;
    padding: 10px;
}

/**
*
* Common item list in table.
*
*/
table.list {
    width: 100%;
    border-collapse: collapse;
    box-shadow: #666 0px 2px 7px;
}

table.list th {
    font-family: "OpenSansSemibold";
    background-color: #00ADDE;
    color: white;
    font-size: 15px;
    padding: 5px;
}

table.list td {
    padding: 5px;
}

table.list tr:nth-child(even) {
    background-color: #E0EEF9;
}

/**
*
*   Highlights.
*   Used for highlighting information and messages.
*
**/

.highlightBox {
    background-color: #E0EEF9;
    padding: 1px 20px;
}

/**
*
* InfoBox
* Used for showing the Growth Rate.
*/

.infoBox {
    float: right;
    border: 2px;
    background-color: #E0EEF9;
    text-align: center;
    width: 150px;
}

.infoBox h3 {
    font-size: 18px;
    border-bottom: 1px dashed;
}

.infoBox p {
    font-size: 10px;
}

.infoBox span {
    font-size: 16px;
}