/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

form .row {
    margin-bottom: 20px;
    float: left;
    clear: both;
}

form .row label {
    width: 140px;
    text-align: right;
    margin-right: 10px;
    margin-top: 13px;
    float: left;
}

form .row span {
    float: left;
    margin-top: 13px;
    padding-left: 10px;
}
form input.simple {
    padding: 2px 4px;
    border: 1px solid #777679;
    border-radius: 4px;
    background: linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -o-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -ms-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
}

form .row input,
form .row select,
form .row textarea,
form .row .tagHandler {
    min-height: 24px;
    float: left;
    padding: 8px 10px;
    border: 1px solid #777679;
    border-radius: 4px;
    background: linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -o-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
    background: -ms-linear-gradient(bottom , #E6E6E6 0%, #FFFFFF 100%);
}

form .row textarea {
    padding-right: 0px;
    min-height: 60px;
}

form .row select {
    height: 40px;
    min-width: 250px;
    padding-right: 0px;
}

form .row input[type="checkbox"] {
    width: auto; /* override forced width to avoid centering */
    background: none;
    border: none;
    margin-top: 10px;
}

form .actions {
    clear:both;
    margin-left: 170px;
}

form .actions img {
    cursor: pointer;
}

.message-error {
    color: red;
    margin-bottom: 40px;
    text-align: center;
    font-size: 11pt;
    font-family: "OpenSansRegular", Arial;
}

/** jquery-taghandler custom styles */
.tagHandler {
    width: 525px;
    min-height: 45px;
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 10px ! important;
}

div.formData {
    float: left;
    width: 700px;
}

/** Suggestion box for forms */
div.suggestionBox {
    float:left;
    margin-left: 20px;
    padding: 10px 0;
}

div.suggestionBox span {
    color: white;
    font-size: 0.8em;
    display: block;
    margin-bottom: 3px;
}

div.suggestionBox ul li {
    display: block;
    padding: 2px;
}

div.suggestionBox ul li a {
    color: white;
}

/******************************************************************************/
/*                                  Buttons                                   */
/******************************************************************************/

.buttonAction {
    display: inline-block;
    background-color: #ffce00;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    box-shadow: 0 2px 2px gray;
    color: #004992;
    font-family: "QuicksandBold";
    font-size: 20px;
    padding: 9px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-right: 6px;
    cursor: pointer;
}

/* Narrow button with less spacing */
.buttonAction.narrow {
    padding: 6px 30px 2px 30px;
}

/* Smaller text to use as byline */
.buttonAction .byline {
    font-family: "OpenSansLight";
    font-size: 17px;
    letter-spacing: 0px;
    text-transform: lowercase;
    display: block;
    margin-top: -4px;
    margin-bottom: 4px;
}

.buttonAction:hover {
    background-color: #ffd832;
}

.buttonAction:active {
    box-shadow: 0px 2px 2px gray inset;
}

.buttonAction.cancel {
    background-color: #A9DFEC;
}

.buttonAction.cancel:hover {
    background-color: #B0E8F4;
}

.buttonAction.small {
    font-size: 12px;
    padding: 5px 10px 4px 10px;
}