/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.header {
    position:relative;
    width: 100%;
    height: 94px;
    background: url("../images/pattern-topbar.jpg") right repeat;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0);
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

div.header div.info {
    height: 94px;
    margin: auto;
}

div.header div.info div.logo {
    float: left;
    padding-top: 18px;
}

div.header div.info div.menu {
    float: right;
    padding-top: 30px;
}

div.header div.info div.menu div.welcome {
    text-align: right;
    font-family: QuicksandBook;
    color: #00AEDE;
    font-size: 11px;
    padding-right: 10px;
    padding-bottom: 7px;
}

div.header div.info div.menu ul li a:link,
div.header div.info div.menu ul li a:visited,
div.header div.info div.menu ul li a:hover {
    font-family: QuicksandBook, Helvetica;
    color: #fff;
    font-size: 11px;
    border-right: 1px solid #fff;
}

div.header div.info div.menu ul li a:hover {
    color: #00AEDE;
    text-decoration: underline;
}


/* ...... F O O T E R ...... */


div.footer {
    height: 130px;
    width: 100%;
    margin-top: 50px;
    background: url("../images/pattern-footer.png") right repeat;
    clear: both;
    text-align: center;
}

div.footer div.info {
    width: 100%;
    text-align: center;
    margin: auto;
}

div.footer div.info div.logo {
    text-align: center;
}

div.footer div.info div.logo img {
    margin-top: 30px;
    text-align: center;
}


div.footer div.info div.menu {
    margin-top: 30px;
    text-align: center;
}

div.footer div.info div.menu ul li a:link,
div.footer div.info div.menu ul li a:visited,
div.footer div.info div.menu ul li a:hover {
    font-family: QuicksandBook, Helvetica;
    color: #fff;
    font-size: 11px;
    border-right: 1px solid #fff;
}

div.footer div.info div.menu  ul li a:hover {
    color: #00AEDE;
    text-decoration: underline;
}
