/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ...... P L A N S  &  P R I C I N G ...... */

/* CONTENT: part1 */

div.part1-plans {
    width: 100%;
    background: #f4f4f4;
    text-align: center;
    position: relative;
    z-index: -100;
}

div.part1-plans div.contenedor {
    margin: auto;
}

div.part1-plans div.contenedor div.info {
    font-family: "ColaborateThinRegular";
    font-size: 26pt;
    padding-top: 30px;
    line-height: 45px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #288BD4;
    text-align: center;
}

div.part1-plans div.contenedor div.info strong {
    font-family: "ColaborateMediumRegular";
    font-size: 26pt;
    letter-spacing: 1px;
    color: #288BD4;
}


/* CONTENT: part2 */

div.part2-plans {
    width: 100%;
    background: #f4f4f4;
    height: 480px;
    text-align: center;
}

div.part2-plans div.contenedor {
    margin: auto;
}

div.part2-plans div.contenedor div.plans {
    width: 960px;
    padding-top: 30px;
}

div.part2-plans div.contenedor div.plans div.col1,
div.part2-plans div.contenedor div.plans div.col2 {

}

div.part2-plans div.contenedor div.plans div.col1 div.image,
div.part2-plans div.contenedor div.plans div.col1 div.info {
    text-align: center;
    font-size: 20px;
    color: #666;
    margin-top: 10px;
}

div.part2-plans div.contenedor div.plans div.col1 div.info {
    margin-bottom: 5px;
    text-align: center;
}

div.part2-plans div.contenedor div.plans div.col1 div.separador {
    text-align: center;
}

div.part2-plans div.contenedor div.plans div.col2 div.image,
div.part2-plans div.contenedor div.plans div.col2 div.info {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    margin-right: 200px;
}

div.part2-plans div.contenedor div.plans div.col2 div.info {
    margin-bottom: 5px;
}

div.part2-plans div.contenedor div.plans div.col2 div.separador {
    margin-left: 25px;
}

div.part2-plans div.contenedor div.plans div.col1 div.items {
    text-align: center;
}

div.part2-plans div.contenedor div.plans div.col1 ul li {
    text-align: center;
    display: list-item;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

div.part2-plans div.contenedor div.plans div.col2 ul li {
    display: list-item;
    width: 201px;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-left: 55px;
}

div.part2-plans div.contenedor div.plans div.col1 ul li strong,
div.part2-plans div.contenedor div.plans div.col2 ul li strong {
    text-align: center;
    font-family: OpenSansSemibold;
    color: #666;
}

div.part2-plans div.contenedor div.plans div.col1 div.price {
    text-align: center;
    font-family: QuicksandBook;
    color: #666;
    font-size: 23px;
    margin-top: 25px;
}

div.part2-plans div.contenedor div.plans div.col2 div.price {
    font-family: QuicksandBook;
    color: #666;
    font-size: 23px;
    margin-top: 25px;
    margin-left: 70px;
}


div.part2-plans div.contenedor div.plans div.col1 div.price strong,
div.part2-plans div.contenedor div.plans div.col2 div.price strong {
    font-family: QuicksandBold;
    color: #666;
    font-size: 30px;
    text-align: center;
}

div.part2-plans div.contenedor div.plans div.col1 div.button {
    text-align: center;
    margin-top: 20px;
/*    margin-left: 270px;*/
}

div.part2-plans div.contenedor div.plans div.col2 div.button {
    margin-top: 20px;
    margin-left: 70px;
}



/* CONTENT: part3 */

div.dashed-separator {
    border-top: dashed 1px #CCC;
}

div.part3-plans {
    width: 100%;
    text-align: center;
}

div.part3-plans div.contenedor {
    margin: auto;
}

div.part3-plans div.contenedor div.info {
    font-family: "ColaborateThinRegular";
    padding-top: 30px;
    line-height: 45px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #666;

}

div.part3-plans div.contenedor div.info.welcome {
    margin: auto;
}

div.part3-plans div.contenedor div.info.welcome a {
    text-decoration: underline;
}

div.part3-plans div.contenedor div.info div.line1 {
    font-family: "ColaborateThinRegular";
    font-size: 30pt;
    text-align: center;
}

div.part3-plans div.contenedor div.info div.line2 {
    font-family: "ColaborateThinRegular";
    font-size: 15pt;
    text-align: center;
}


/* CONTENT: part4 */

div.part4-plans {
    width: 100%;
    height: 300px;
    text-align: center;
}

div.part4-plans div.contenedor {
    margin: auto;
}

div.part4-plans div.contenedor div.items {
    margin-top: 50px;
    text-align: center;
}

div.part4-plans div.contenedor div.faqstitle {
    width: 960px;
    height: 70px;
    font-family: QuicksandBook;
    color: #00AEDE;
    font-size: 20pt;
    margin-top: -10px;
    text-align: center;
}

div.part4-plans div.contenedor div.faqstitle strong {
    font-family: QuicksandBold;
    color: #00AEDE;
    font-size: 30px;
}

div.part4-plans div.contenedor div.info {
    width: 960px;
    height: 130px;
}

div.part4-plans div.contenedor div.info div.col1,
div.part4-plans div.contenedor div.info div.col2 {
    width: 420px;
    margin-left: 30px;
    float: left;
}

div.part4-plans div.contenedor div.info div.col1 div.titulo,
div.part4-plans div.contenedor div.info div.col2 div.titulo {
    font-family: OpenSansSemibold;
    font-size: 17px;
    color: #666;
}

div.part4-plans div.contenedor div.info div.col1 div.titulo strong,
div.part4-plans div.contenedor div.info div.col2 div.titulo strong {
    font-family: OpenSansSemibold;
    font-size: 20px;
    color: #00AEDE;
}

div.part4-plans div.contenedor div.info div.col1 div.text,
div.part4-plans div.contenedor div.info div.col2 div.text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}

div.part4-plans div.contenedor div.info div.col2 div.text a {
    font-size: 15px;
    color: #00AEDE;
    line-height: 25px;
    margin-bottom: 30px;
}