/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* CONTENT: part1 */

div.part1 {
    width: 100%;
    height: 440px;
    text-align: center;
}

div.part1 div.contenedor {
    margin: auto;
}

div.part1 div.contenedor div.items {
    margin-top: 50px;
    height: 440px;
    width: 100%;
    text-align: center;
    background: url("../images/signup-item.png") no-repeat;
}

div.part1 div.contenedor div.items div.item1 {
    width: 50%;
    float: left;
}

div.part1 div.contenedor div.items div.item1 div.titulo {
    font-family: "OpenSansSemiBold", Helvetica;
    text-align: left;
    margin-left: 5px;
}

div.part1 div.contenedor div.items div.item1 form {
    height: 340px;
    width: 479px;
    margin-top: 70px;
    border-right: dashed 1px #CCC;
}

div.part1 div.contenedor div.items div.item1 form div.button {
    margin-left: 170px;
    clear: both;
}

div.part1 div.contenedor div.items div.item1 form div.button a {
    font-size: 10pt;
    margin-left: 28px;
}

div.part1 div.contenedor div.items div.item2 {
    width: 50%;
    float: left
}

div.part1 div.contenedor div.items div.item2 div.titulo {
    font-family: "OpenSansSemiBold", Helvetica;
    text-align: left;
    margin-left: 33px;
}

div.part1 div.contenedor div.items div.item2 div.redessociales {
    width: 480px;
    margin-top: 66px;
    margin-left: 30px;
}

div.part1 div.contenedor div.items div.item2 div.redessociales div.twitter {
    margin-top: 20px;
}

div.part1 div.contenedor div.items div.item2 div.redessociales div.facebook {
    margin-top: 17px;
}

div.part1 div.contenedor div.items div.item3 {
    text-align: center;
    padding-top: 20px;
    clear: left;
    font-size: 10pt;
}

div.part1 div.contenedor div.items div.item3 a {
    font-size: 10pt;
}


/* CONTENT: part2 */

div.part2 {
    margin: auto;
    text-align: center;
    border-top: dashed 1px #CCC;
}

div.part2 div.contenedor {
    margin: auto;
    background: url("../images/home-quotes.jpg") right no-repeat;
}

div.part2 div.contenedor div.info {
    font-family: "ColaborateThinRegular", Arial;
    font-size: 26pt;
    margin-top: 45px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #666;
    text-align: center;
}

div.part2 div.contenedor div.info strong {
    font-family: "ColaborateMediumRegular", Arial;
    font-size: 25pt;
    letter-spacing: 1px;
    color: #666;
}

/* CONTENT: part3 */

div.part3 {
    width: 100%;
    text-align: center;
}

div.part3 div.contenedor {
    margin: auto;
}

div.part3 div.contenedor div.info {
    text-align: center;
    margin-top: 60px;
}

div.part3 div.contenedor div.info a {
    color: #00AEDE;
}

div.modalWithText {
    max-height: 400px;
    overflow-y: scroll;
}