/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Read more:
 * http://forrst.com/posts/Pure_css_tooltip_box_with_arrow_T_R_B_L-7kR
*/
.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
    color:#ffffff;
    cursor:normal;
    display:-moz-inline-stack;
    display:inline-block;
    font-size:12px;
    padding:.5em 1em;
    position:relative;
    text-align:center;
    text-shadow:0 -1px 1px #111111;
    -webkit-border-top-left-radius:4px ;
    -webkit-border-top-right-radius:4px ;
    -webkit-border-bottom-right-radius:4px ;
    -webkit-border-bottom-left-radius:4px ;
    -khtml-border-top-left-radius:4px ;
    -khtml-border-top-right-radius:4px ;
    -khtml-border-bottom-right-radius:4px ;
    -khtml-border-bottom-left-radius:4px ;
    -moz-border-radius-topleft:4px ;
    -moz-border-radius-topright:4px ;
    -moz-border-radius-bottomright:4px ;
    -moz-border-radius-bottomleft:4px ;
    border-top-left-radius:4px ;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    border-bottom-left-radius:4px ;
    -o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    -webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
    background-color:#3b3b3b;
    background-image:-moz-linear-gradient(top,#555555,#222222);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
    content:"\25B8";
    display:block;
    font-size:2em;
    height:0;
    line-height:0;
    position:absolute;
    margin-left:-4px;
}
.ui-tooltip:after, .ui-tooltip-bottom:after {
    color:#2a2a2a;
    bottom:0;
    left:1px;
    text-align:center;
    text-shadow:1px 0 2px #000000;
    -o-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -khtml-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    width:100%;
}
.ui-tooltip-top:after {
    bottom:auto;
    color:#4f4f4f;
    left:-2px;
    top:0;
    text-align:center;
    text-shadow:none;
    -o-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -khtml-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    width:100%;
}
.ui-tooltip-right:after {
    color:#222222;
    right:-0.375em;
    top:20px;
    margin-top:-.05em;
    text-shadow:0 1px 2px #000000;
    -o-transform:rotate(0);
    -moz-transform:rotate(0);
    -khtml-transform:rotate(0);
    -webkit-transform:rotate(0);
}
.ui-tooltip-left:after {
    color:#222222;
    left:-0.375em;
    top:20px;
    margin-top:.1em;
    text-shadow:0 -1px 2px #000000;
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -khtml-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
