<html>
    <body>
        <h3>Want to join muContacts?</h3>
        <p>Hi! ${username} wants you to join muContacts.
        </p>
        <p>It's very easy to join! <a href="https://www.mucontacts.com/mucontacts/user/signup.html?token=${token}">Sign up for your free account</a>
           and start sharing content with ${username} in just a few steps.
           <br/>
           <small>(If you already have an account with us and find it useful, recommend the site to others!)</small>
        </p>
        <p>Regards,
           <br/>
           The muContacts Team.
        <p>
    </body>
</html>